<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <add key="CosmosConn" value="https://chyatest.documents.azure.com:443/" />
      <add key="CosmosAuth" value="aImofvFqrei44VaKPaQvyG5g3WWnLWpxdLNIMdyNAM9vPyFqzwM1g75XuqIVQpddxRNRcmcpHv0uo4mVQ0UtvA==" />
   </appSettings>
</configuration>